* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #222;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px*8);
  height: calc(64px*8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 60px;
  height: 60px;
  position: relative;
}

.black {
  background-color: #4e4e4e;
}

.white {
  background-color: #fff;
}

.selected {
  background-color: brown;
}


.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #22c022;
}

.heading-text {
  color: #fff;
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 8px;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.currentPlayer h3 {
  background-color: lightgray;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 32px;
  padding: 16px;
}